<div class="media"> 
	<a href="{{ url }}">
		<div class="media-left"><small>Sep</small><span>10</span></div>
	</a>
	<div class="media-body">
		<a href="{{ url }}">
		<p>4:00 PM 5:00 PM</p>
		</a>
		<h4 class="media-heading">
			<a href="{{ url }}"></a>
			<a href="{{ url }}" hreflang="en">{{ label }}</a>
		</h4>
	</div>
</div>