<div class="media"> 
	<a href="{{ url }}">
		{{ kint(content.field_start_date.value) }}
		<div class="media-left"><small>{{ content.field_start_date[0]['value']|date("M") }}</small><span>{{ content.field_start_date[0]['value']|date("d") }}</span></div>
	</a>
	<div class="media-body">
		<a href="{{ url }}">
		
		<p>{{ content.field_event_time[0]['value']|date('h:i A') }} - {{ content.field_event_time[0]['end_value']|date('h:i A') }}</p>
		</a>
		<h4 class="media-heading">
			<a href="{{ url }}"></a>
			<a href="{{ url }}" hreflang="en">{{ label }}</a>
		</h4>
	</div>
</div>