<div class="media"> 
	<a href="{{ url }}">
		<div class="media-left"><small>{{ content.field_start_date.value|date("M") }}</small><span>{{ content.field_start_date.value|date("d") }}</span></div>
	</a>
	<div class="media-body">
		<a href="{{ url }}">
		
		<p>{{ content.field_event_time.start_date|date('h:i A') }} - {{ content.field_event_time.end_date|date('h:i A') }}</p>
		</a>
		<h4 class="media-heading">
			<a href="{{ url }}"></a>
			<a href="{{ url }}" hreflang="en">{{ label }}</a>
		</h4>
	</div>
</div>