<div class="media">
	<a href="{{ url }}">
		<div class="media-left"><small>{{ event_date[0]['value']|date("M", "UTC") }}</small><span>{{ event_date[0]['value']|date("d", "UTC") }}</span></div>
	</a>
	<div class="media-body">
		<a href="{{ url }}">

		<p>{{ event_time[0]['value']|date('h:i A', 'UTC') }} - {{ event_time[0]['end_value']|date('h:i A', 'UTC') }}</p>
		</a>
		<h4 class="media-heading">
			<a href="{{ url }}"></a>
			<a href="{{ url }}" hreflang="en">{{ label }}</a>
		</h4>
	</div>
</div>