{% set date = node.field_start_date.0.value %}
{% set time = node.field_end_date1.0.value %}
{% set phone = node.field_event_phone.0.value %}
{% set website = node.field_event_website.0.value %}
{% set email = node.field_event_email.0.value %}
{% set price = node.field_ticket_price.0.value %}
{% set location = node.field_event_location.0.value %}



   
   <div class="row event-detail" id="event-detail">
			<div class="col-md-8">
			  <div class="detail">
				<div class="eventdate">
				  <div class="day">Tues</div>
				  <div class="month">Dec.</div>
				  <div class="date"> 12</div>
				</div>
				<h2>{{ label }}</h2>
				<p>Category:aaa  , bbb</p>
				<div><span class="label">Price :</span> {{ price }}</div>
				<div>{{ content.body }}</div>
				<div class="register">
				     <span class="registertext">Regieter Now</span>
				     <a href=""><span class="registerimg"><img alt="arrow" data-entity-type="file" data-entity-uuid="dcee055e-5564-4ce2-9ae3-afd716672544" src="/sites/default/files/inline-images/angle-right.png""></span>
				     </a>
				</div>	
                          </div>
			</div>
			<div class="col-md-4">
			        <div class="event-info">
				 <span style="margin-right: 10px;float: left;"><img alt="arrow" data-entity-type="file" data-entity-uuid="dcee055e-5564-4ce2-9ae3-afd716672544" src="/sites/default/files/inline-images/calender.png"></span><h2>Event Information</h2>
				 <div>
					<div class="label" >Date :</div>
					<div>{{ date }}</div>
				 </div>
				  <div>
					<div class="label" >Time :</div>
					<div>{{ time }}</div>
				 </div>
				  <div>
					<div class="label" ">Location :</div>
					<div> {{ location }}</div>
				 </div>
			       </div>
			       <div class="contact-info">
				   <span style="margin-right: 10px;float: left;"><img alt="arrow" data-entity-type="file" data-entity-uuid="dcee055e-5564-4ce2-9ae3-afd716672544" src="/sites/default/files/inline-images/phone.png"></span><h2>Contact Information</h2>
				  <div>
					<div class="label" >Phone :</div>
					<div>{{ phone }}</div>
				  </div>
				  <div>
					<div class="label" >Email Address :</div>
					<div>{{ email }} </div>
				  </div>
				  <div>
					<div class="label" >Website :</div>
					<div>{{ website }}</div>
				  </div>
			       </div>
			</div>
                        <div class="col-md-12">
			<div class="event-location">
			 <span style="margin-right: 10px;float: left;"><img alt="arrow" data-entity-type="file" data-entity-uuid="dcee055e-5564-4ce2-9ae3-afd716672544" src="/sites/default/files/inline-images/locationmap.png"></span> <h2>Location Map</h2>
			  <iframe width="100%" height="400px" frameborder="0" style="border:0" src="https://maps.google.com/maps?q={{ location }}&amp;output=embed"></iframe>
			</div>
		</div><!-- Row -->
