{% set container = theme.settings.fluid_container ? 'container-fluid' : 'container' %}
{% include 'header.html.twig' %}
<div class="container-fluid back">
	<div class="event_in_bnr" style="background: url( {{ file_url(node.field_news_image.entity.uri.value) }}) no-repeat;"></div>
	<div class="container">
		<div class="row">
				<div class="col-md-12 wh box_article_page">
					{% if page.breadcrumb %}
					{% block breadcrumb %}
					{{ page.breadcrumb }}
					{% endblock %}
					{% endif %}
					
					{% if page.header %}
					{% block header %}
					{{ page.header }}
					{% endblock %}
					{% endif %}
					<div class="arti_date news-cotent">
						<span >{{ node.field_start_date.value|date("F, d Y") }}</span>
						<span class="city-cat">Category: {{ node.field_news_category.value }}</span>
						{% if page.social_share %}
						<div class="pull-right">
							{{ page.social_share }}
						</div>
						{% endif %}
						<div class="col-sm-12">
							{{ node.body.value|raw }}
						</div>
					</div>
				
				{{ page.content.recent_article }}
				{{ node.comment|render }}
				</div>

		<div class="comment_artical">
			<h3 class="main_head_text_article">Comments</h3>
				<!-- Left-aligned media object -->
					<div class="media">
						<div class="media-left">
							<img src="http://dev-santacity.pantheonsite.io/sites/default/files/2018-07/article1.jpg" class="media-object" style="width:60px">
						</div>
						<div class="media-body">
							<h4 class="media-heading">Lorem ipsum dolor sit amet</h4>
							<p class="date">December 18 ,2018</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
						</div>
					</div>
					<div class="media">
						<div class="media-left">
							<img src="http://dev-santacity.pantheonsite.io/sites/default/files/2018-07/article1.jpg" class="media-object" style="width:60px">
						</div>
						<div class="media-body">
							<h4 class="media-heading">Lorem ipsum dolor sit amet</h4>
							<p class="date">December 18 ,2018</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
						</div>
					</div>
					<div class="media">
						<div class="media-left">
							<img src="http://dev-santacity.pantheonsite.io/sites/default/files/2018-07/article1.jpg" class="media-object" style="width:60px">
						</div>
						<div class="media-body">
							<h4 class="media-heading">Lorem ipsum dolor sit amet</h4>
							<p class="date">December 18 ,2018</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
						</div>
					</div>
		</div>
		<div class="add_new_comment_page">
			<h3 class="main_head_text_article">Add New Comment</h3>
			<form class="comment">
			<input class="contact__form-input" type="text" placeholder="Subject">
			<textarea class="contact__form-textarea" type="text" placeholder="Comment"></textarea>
			<div class="comment_btn">
				<a href="">Submit <i class="fa fa-angle-right" aria-hidden="true"></i> </a>
			</div>
			 </form>
		</div>
	
			</div>
	</div>	
</div>	
{% include 'footer.html.twig' %}
